body{
  font-family:"Roboto", sans-serif;
  font-size: 13px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

ul{
  list-style-type:none;
  margin: 0;
  padding: 0;

}
li{
  display:inline;
  float: right;
  margin-top: 10px;
}

.img{
  margin-top: -2px;
  margin-right: 7px;
  opacity:0.7;
}
.img:hover{
  opacity: 1;
}


.gmail{
  margin-right: 20px;
  text-decoration: none;
 color: rgba(0,0,0,0.87);
}
 .gmail:hover{
  text-decoration: underline;
 opacity: 0.85;
}

.images{
  margin-right: 15px;
  text-decoration: none;
  color: rgba(0,0,0,0.87);
}
.images:hover{
  text-decoration: underline;
  opacity: 0.85;
}

.sign{
  margin-right: 20px;
  text-decoration:none;
  color: #fff;
  background: #4887ef;
  padding: 8px;
  border-radius: 5px;
}
.sign:hover{
   box-shadow: 1px 1px 3px  black;

}
.form{
  text-align: center;
}
.search{
  min-width: 503px;
  height: 34px;
  margin-bottom: 34px;
  font: 16px arial,sans-serif;
  line-height: 34px;
  height: 40px !important;
  border:1px solid #cccccc;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}
input[type="text"]:focus{
   outline: none;
   box-shadow: 5px 5px 4px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);

}
input[type=text]:hover{
  box-shadow: 5px 5px 4px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

.google, .lucky{
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  font-family: arial,sans-serif;
  font-size: 13px;
  color: #757575;
  font-weight: bold;
  margin: 0 5px;
  min-width: -54px;
  padding: 0 16px;
  text-align: center;
  height: 36px;
  line-height: 27px;
}
  input[type=submit]:hover{
                  border: 1px solid #c6c6c6;
                  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                  outline: none;
}
.lang{
  text-align: center;
  margin-top: 25px;
  margin-right: 10px;
}
.langs a{
  word-spacing: 5px;
  padding-left: 5px;
  text-decoration: none;
  color:  rgb(48, 36, 171);
}
.hausa:hover{
  text-decoration: underline;
}
.yoruba:hover{
  text-decoration: underline;
}

.igbo:hover{
  text-decoration: underline;
}
.Pidgin:hover{
  text-decoration: underline;
}
.foot{
  background:#f2f2f2;
  border-top: 1px solid #e4e4e4;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 40px;
  display: block;
  font-family: arial, sans-serif;
  font-size: 13px;

}
.right{
	padding-right: 15px;
	padding-bottom: 5px;
	float: right;
}
.left{
  padding-top: 25px;
  margin-left: 10px;
}
.foot a{
  text-decoration: none;
  color: #666;
}
.ads{
  padding-right: 7px;
  padding-left: 8px;
}
.ads:hover{
  text-decoration: underline;
}
.business{
  padding-left: 7px;
  padding-right:7px;
}
.business:hover{
  text-decoration: underline;
}
.about{
  padding-left: 7px;
  padding-right:7px;
}
.about:hover{
  text-decoration: underline;
}
.Privacy{
  padding-left: 7px;
  padding-right:7px;
}
.Privacy:hover{
  text-decoration: underline;
}
.terms{
  padding-left: 7px;
  padding-right:7px;
}
.terms:hover{
  text-decoration: underline;
}
.settings{
  padding-left: 7px;
  padding-right:8px;
}
.settings:hover{
  text-decoration: underline;
}
.Nigeria{
  background:#f2f2f2;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  position:absolute;
  bottom: 0;
  width: 100%;
  line-height: 40px;
  display: block;
  font-family: arial, sans-serif;
  font-size: 15px;
  margin-bottom: 40px;
}
.nigeria{
  color: #666;
  padding-left: 15px;
}
